src/main/resources/ws/Webservice.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getRegCode">
        <s:complexType />
      </s:element>
      <s:element name="getRegCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getRegCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Getsysdate">
        <s:complexType />
      </s:element>
      <s:element name="GetsysdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetsysdateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="querySchedule">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="queryScheduleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="queryScheduleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getExistProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getExistProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getExistProfileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateProfileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeptInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeptInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeptInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DocInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DocInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DocInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPatientNO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPatientNOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPatientNOResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInpatientNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInpatientNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getInpatientNoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchemaInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchemaInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSchemaInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertBooking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertBookingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertBookingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertRegisterInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertRegisterInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertRegisterInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getClinicState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getClinicStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getClinicStateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getQueueForDept">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getQueueForDeptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getQueueForDeptResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getQueueForPatient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getQueueForPatientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getQueueForPatientResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUnpaidClinicInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUnpaidClinicInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUnpaidClinicInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPrescriptionInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPrescriptionInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPrescriptionInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="saveFee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="saveFeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="saveFeeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFeeDetailByfinanceNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFeeDetailByfinanceNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getFeeDetailByfinanceNoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getHospitalizationExpenses">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getHospitalizationExpensesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getHospitalizationExpensesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="hospitalizationExpensesRecharge">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="hospitalizationExpensesRechargeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hospitalizationExpensesRechargeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="inhosBill">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="inhosBillResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inhosBillResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryPriceBoardInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryPriceBoardInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryPriceBoardInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLisResultInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLisResultInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLisResultInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLisResultDetilInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLisResultDetilInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLisResultDetilInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getClinicRecordsInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getClinicRecordsInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getClinicRecordsInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrderInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrderInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrderInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getRegCodeSoapIn">
    <wsdl:part name="parameters" element="tns:getRegCode" />
  </wsdl:message>
  <wsdl:message name="getRegCodeSoapOut">
    <wsdl:part name="parameters" element="tns:getRegCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetsysdateSoapIn">
    <wsdl:part name="parameters" element="tns:Getsysdate" />
  </wsdl:message>
  <wsdl:message name="GetsysdateSoapOut">
    <wsdl:part name="parameters" element="tns:GetsysdateResponse" />
  </wsdl:message>
  <wsdl:message name="queryScheduleSoapIn">
    <wsdl:part name="parameters" element="tns:querySchedule" />
  </wsdl:message>
  <wsdl:message name="queryScheduleSoapOut">
    <wsdl:part name="parameters" element="tns:queryScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="getExistProfileSoapIn">
    <wsdl:part name="parameters" element="tns:getExistProfile" />
  </wsdl:message>
  <wsdl:message name="getExistProfileSoapOut">
    <wsdl:part name="parameters" element="tns:getExistProfileResponse" />
  </wsdl:message>
  <wsdl:message name="CreateProfileSoapIn">
    <wsdl:part name="parameters" element="tns:CreateProfile" />
  </wsdl:message>
  <wsdl:message name="CreateProfileSoapOut">
    <wsdl:part name="parameters" element="tns:CreateProfileResponse" />
  </wsdl:message>
  <wsdl:message name="DeptInfoSoapIn">
    <wsdl:part name="parameters" element="tns:DeptInfo" />
  </wsdl:message>
  <wsdl:message name="DeptInfoSoapOut">
    <wsdl:part name="parameters" element="tns:DeptInfoResponse" />
  </wsdl:message>
  <wsdl:message name="DocInfoSoapIn">
    <wsdl:part name="parameters" element="tns:DocInfo" />
  </wsdl:message>
  <wsdl:message name="DocInfoSoapOut">
    <wsdl:part name="parameters" element="tns:DocInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getPatientNOSoapIn">
    <wsdl:part name="parameters" element="tns:getPatientNO" />
  </wsdl:message>
  <wsdl:message name="getPatientNOSoapOut">
    <wsdl:part name="parameters" element="tns:getPatientNOResponse" />
  </wsdl:message>
  <wsdl:message name="getInpatientNoSoapIn">
    <wsdl:part name="parameters" element="tns:getInpatientNo" />
  </wsdl:message>
  <wsdl:message name="getInpatientNoSoapOut">
    <wsdl:part name="parameters" element="tns:getInpatientNoResponse" />
  </wsdl:message>
  <wsdl:message name="GetSchemaInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetSchemaInfo" />
  </wsdl:message>
  <wsdl:message name="GetSchemaInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetSchemaInfoResponse" />
  </wsdl:message>
  <wsdl:message name="insertBookingSoapIn">
    <wsdl:part name="parameters" element="tns:insertBooking" />
  </wsdl:message>
  <wsdl:message name="insertBookingSoapOut">
    <wsdl:part name="parameters" element="tns:insertBookingResponse" />
  </wsdl:message>
  <wsdl:message name="insertRegisterInfoSoapIn">
    <wsdl:part name="parameters" element="tns:insertRegisterInfo" />
  </wsdl:message>
  <wsdl:message name="insertRegisterInfoSoapOut">
    <wsdl:part name="parameters" element="tns:insertRegisterInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getClinicStateSoapIn">
    <wsdl:part name="parameters" element="tns:getClinicState" />
  </wsdl:message>
  <wsdl:message name="getClinicStateSoapOut">
    <wsdl:part name="parameters" element="tns:getClinicStateResponse" />
  </wsdl:message>
  <wsdl:message name="getQueueForDeptSoapIn">
    <wsdl:part name="parameters" element="tns:getQueueForDept" />
  </wsdl:message>
  <wsdl:message name="getQueueForDeptSoapOut">
    <wsdl:part name="parameters" element="tns:getQueueForDeptResponse" />
  </wsdl:message>
  <wsdl:message name="getQueueForPatientSoapIn">
    <wsdl:part name="parameters" element="tns:getQueueForPatient" />
  </wsdl:message>
  <wsdl:message name="getQueueForPatientSoapOut">
    <wsdl:part name="parameters" element="tns:getQueueForPatientResponse" />
  </wsdl:message>
  <wsdl:message name="getUnpaidClinicInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getUnpaidClinicInfo" />
  </wsdl:message>
  <wsdl:message name="getUnpaidClinicInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getUnpaidClinicInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getPrescriptionInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getPrescriptionInfo" />
  </wsdl:message>
  <wsdl:message name="getPrescriptionInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getPrescriptionInfoResponse" />
  </wsdl:message>
  <wsdl:message name="saveFeeSoapIn">
    <wsdl:part name="parameters" element="tns:saveFee" />
  </wsdl:message>
  <wsdl:message name="saveFeeSoapOut">
    <wsdl:part name="parameters" element="tns:saveFeeResponse" />
  </wsdl:message>
  <wsdl:message name="getFeeDetailByfinanceNoSoapIn">
    <wsdl:part name="parameters" element="tns:getFeeDetailByfinanceNo" />
  </wsdl:message>
  <wsdl:message name="getFeeDetailByfinanceNoSoapOut">
    <wsdl:part name="parameters" element="tns:getFeeDetailByfinanceNoResponse" />
  </wsdl:message>
  <wsdl:message name="getHospitalizationExpensesSoapIn">
    <wsdl:part name="parameters" element="tns:getHospitalizationExpenses" />
  </wsdl:message>
  <wsdl:message name="getHospitalizationExpensesSoapOut">
    <wsdl:part name="parameters" element="tns:getHospitalizationExpensesResponse" />
  </wsdl:message>
  <wsdl:message name="hospitalizationExpensesRechargeSoapIn">
    <wsdl:part name="parameters" element="tns:hospitalizationExpensesRecharge" />
  </wsdl:message>
  <wsdl:message name="hospitalizationExpensesRechargeSoapOut">
    <wsdl:part name="parameters" element="tns:hospitalizationExpensesRechargeResponse" />
  </wsdl:message>
  <wsdl:message name="inhosBillSoapIn">
    <wsdl:part name="parameters" element="tns:inhosBill" />
  </wsdl:message>
  <wsdl:message name="inhosBillSoapOut">
    <wsdl:part name="parameters" element="tns:inhosBillResponse" />
  </wsdl:message>
  <wsdl:message name="QueryPriceBoardInfoSoapIn">
    <wsdl:part name="parameters" element="tns:QueryPriceBoardInfo" />
  </wsdl:message>
  <wsdl:message name="QueryPriceBoardInfoSoapOut">
    <wsdl:part name="parameters" element="tns:QueryPriceBoardInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getLisResultInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getLisResultInfo" />
  </wsdl:message>
  <wsdl:message name="getLisResultInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getLisResultInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getLisResultDetilInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getLisResultDetilInfo" />
  </wsdl:message>
  <wsdl:message name="getLisResultDetilInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getLisResultDetilInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getClinicRecordsInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getClinicRecordsInfo" />
  </wsdl:message>
  <wsdl:message name="getClinicRecordsInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getClinicRecordsInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrderInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrderInfo" />
  </wsdl:message>
  <wsdl:message name="GetOrderInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrderInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getRegCodeHttpGetIn" />
  <wsdl:message name="getRegCodeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetsysdateHttpGetIn" />
  <wsdl:message name="GetsysdateHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="queryScheduleHttpGetIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="queryScheduleHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getExistProfileHttpGetIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getExistProfileHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CreateProfileHttpGetIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateProfileHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeptInfoHttpGetIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeptInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DocInfoHttpGetIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DocInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getPatientNOHttpGetIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPatientNOHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getInpatientNoHttpGetIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getInpatientNoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetSchemaInfoHttpGetIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSchemaInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="insertBookingHttpGetIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="insertBookingHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="insertRegisterInfoHttpGetIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="insertRegisterInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getClinicStateHttpGetIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getClinicStateHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getQueueForDeptHttpGetIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getQueueForDeptHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getQueueForPatientHttpGetIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getQueueForPatientHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getUnpaidClinicInfoHttpGetIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getUnpaidClinicInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getPrescriptionInfoHttpGetIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPrescriptionInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="saveFeeHttpGetIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="saveFeeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getFeeDetailByfinanceNoHttpGetIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getFeeDetailByfinanceNoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getHospitalizationExpensesHttpGetIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getHospitalizationExpensesHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="hospitalizationExpensesRechargeHttpGetIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="hospitalizationExpensesRechargeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="inhosBillHttpGetIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="inhosBillHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="QueryPriceBoardInfoHttpGetIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QueryPriceBoardInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getLisResultInfoHttpGetIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getLisResultInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getLisResultDetilInfoHttpGetIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getLisResultDetilInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getClinicRecordsInfoHttpGetIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getClinicRecordsInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetOrderInfoHttpGetIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetOrderInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getRegCodeHttpPostIn" />
  <wsdl:message name="getRegCodeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetsysdateHttpPostIn" />
  <wsdl:message name="GetsysdateHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="queryScheduleHttpPostIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="queryScheduleHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getExistProfileHttpPostIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getExistProfileHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CreateProfileHttpPostIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateProfileHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeptInfoHttpPostIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeptInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DocInfoHttpPostIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DocInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getPatientNOHttpPostIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPatientNOHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getInpatientNoHttpPostIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getInpatientNoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetSchemaInfoHttpPostIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSchemaInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="insertBookingHttpPostIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="insertBookingHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="insertRegisterInfoHttpPostIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="insertRegisterInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getClinicStateHttpPostIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getClinicStateHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getQueueForDeptHttpPostIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getQueueForDeptHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getQueueForPatientHttpPostIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getQueueForPatientHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getUnpaidClinicInfoHttpPostIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getUnpaidClinicInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getPrescriptionInfoHttpPostIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPrescriptionInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="saveFeeHttpPostIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="saveFeeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getFeeDetailByfinanceNoHttpPostIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getFeeDetailByfinanceNoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getHospitalizationExpensesHttpPostIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getHospitalizationExpensesHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="hospitalizationExpensesRechargeHttpPostIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="hospitalizationExpensesRechargeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="inhosBillHttpPostIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="inhosBillHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="QueryPriceBoardInfoHttpPostIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QueryPriceBoardInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getLisResultInfoHttpPostIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getLisResultInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getLisResultDetilInfoHttpPostIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getLisResultDetilInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getClinicRecordsInfoHttpPostIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getClinicRecordsInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetOrderInfoHttpPostIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetOrderInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="WebserviceSoap">
    <wsdl:operation name="getRegCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取本机注册码序号</wsdl:documentation>
      <wsdl:input message="tns:getRegCodeSoapIn" />
      <wsdl:output message="tns:getRegCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Getsysdate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取服务器时间</wsdl:documentation>
      <wsdl:input message="tns:GetsysdateSoapIn" />
      <wsdl:output message="tns:GetsysdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="querySchedule">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">2.1获取医生排班</wsdl:documentation>
      <wsdl:input message="tns:queryScheduleSoapIn" />
      <wsdl:output message="tns:queryScheduleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getExistProfile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">1.1 身份证关联的所有档案</wsdl:documentation>
      <wsdl:input message="tns:getExistProfileSoapIn" />
      <wsdl:output message="tns:getExistProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateProfile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">1.2 建立门诊档案</wsdl:documentation>
      <wsdl:input message="tns:CreateProfileSoapIn" />
      <wsdl:output message="tns:CreateProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeptInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">2.1 科室信息</wsdl:documentation>
      <wsdl:input message="tns:DeptInfoSoapIn" />
      <wsdl:output message="tns:DeptInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DocInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">2.2 医生信息</wsdl:documentation>
      <wsdl:input message="tns:DocInfoSoapIn" />
      <wsdl:output message="tns:DocInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPatientNO">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">2.3 通过实物就诊卡查询患者在医院的门诊患者编号</wsdl:documentation>
      <wsdl:input message="tns:getPatientNOSoapIn" />
      <wsdl:output message="tns:getPatientNOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getInpatientNo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">2.4 通过身份证查询患者当前在院的住院编号</wsdl:documentation>
      <wsdl:input message="tns:getInpatientNoSoapIn" />
      <wsdl:output message="tns:getInpatientNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSchemaInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">3.1 排班信息</wsdl:documentation>
      <wsdl:input message="tns:GetSchemaInfoSoapIn" />
      <wsdl:output message="tns:GetSchemaInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertBooking">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">3.2 预约挂号、预约取消</wsdl:documentation>
      <wsdl:input message="tns:insertBookingSoapIn" />
      <wsdl:output message="tns:insertBookingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertRegisterInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">3.3 挂号、预约转挂号</wsdl:documentation>
      <wsdl:input message="tns:insertRegisterInfoSoapIn" />
      <wsdl:output message="tns:insertRegisterInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getClinicState">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">3.4 查询挂号状态</wsdl:documentation>
      <wsdl:input message="tns:getClinicStateSoapIn" />
      <wsdl:output message="tns:getClinicStateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getQueueForDept">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">4.1科室排队查询</wsdl:documentation>
      <wsdl:input message="tns:getQueueForDeptSoapIn" />
      <wsdl:output message="tns:getQueueForDeptSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getQueueForPatient">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">4.2患者排队查询</wsdl:documentation>
      <wsdl:input message="tns:getQueueForPatientSoapIn" />
      <wsdl:output message="tns:getQueueForPatientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUnpaidClinicInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">5.1 获取有未缴费处方的门诊记录</wsdl:documentation>
      <wsdl:input message="tns:getUnpaidClinicInfoSoapIn" />
      <wsdl:output message="tns:getUnpaidClinicInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPrescriptionInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">5.2 获取处方信息</wsdl:documentation>
      <wsdl:input message="tns:getPrescriptionInfoSoapIn" />
      <wsdl:output message="tns:getPrescriptionInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="saveFee">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">5.3 门诊结算确认</wsdl:documentation>
      <wsdl:input message="tns:saveFeeSoapIn" />
      <wsdl:output message="tns:saveFeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getFeeDetailByfinanceNo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">5.4 根据发票号或者收据号获取收费明细</wsdl:documentation>
      <wsdl:input message="tns:getFeeDetailByfinanceNoSoapIn" />
      <wsdl:output message="tns:getFeeDetailByfinanceNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getHospitalizationExpenses">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">6.1 住院费余额查询</wsdl:documentation>
      <wsdl:input message="tns:getHospitalizationExpensesSoapIn" />
      <wsdl:output message="tns:getHospitalizationExpensesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="hospitalizationExpensesRecharge">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">6.2 住院押金费充值确认</wsdl:documentation>
      <wsdl:input message="tns:hospitalizationExpensesRechargeSoapIn" />
      <wsdl:output message="tns:hospitalizationExpensesRechargeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="inhosBill">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">7.1 住院日清单、出院清单</wsdl:documentation>
      <wsdl:input message="tns:inhosBillSoapIn" />
      <wsdl:output message="tns:inhosBillSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryPriceBoardInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">8.1 价格公示</wsdl:documentation>
      <wsdl:input message="tns:QueryPriceBoardInfoSoapIn" />
      <wsdl:output message="tns:QueryPriceBoardInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getLisResultInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">9.1 检验主表</wsdl:documentation>
      <wsdl:input message="tns:getLisResultInfoSoapIn" />
      <wsdl:output message="tns:getLisResultInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getLisResultDetilInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">9.2 检验明细</wsdl:documentation>
      <wsdl:input message="tns:getLisResultDetilInfoSoapIn" />
      <wsdl:output message="tns:getLisResultDetilInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getClinicRecordsInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">10.1 查询历次门诊就诊记录</wsdl:documentation>
      <wsdl:input message="tns:getClinicRecordsInfoSoapIn" />
      <wsdl:output message="tns:getClinicRecordsInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">10.2 门诊用药记录</wsdl:documentation>
      <wsdl:input message="tns:GetOrderInfoSoapIn" />
      <wsdl:output message="tns:GetOrderInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebserviceHttpGet">
    <wsdl:operation name="getRegCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取本机注册码序号</wsdl:documentation>
      <wsdl:input message="tns:getRegCodeHttpGetIn" />
      <wsdl:output message="tns:getRegCodeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Getsysdate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取服务器时间</wsdl:documentation>
      <wsdl:input message="tns:GetsysdateHttpGetIn" />
      <wsdl:output message="tns:GetsysdateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="querySchedule">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">2.1获取医生排班</wsdl:documentation>
      <wsdl:input message="tns:queryScheduleHttpGetIn" />
      <wsdl:output message="tns:queryScheduleHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getExistProfile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">1.1 身份证关联的所有档案</wsdl:documentation>
      <wsdl:input message="tns:getExistProfileHttpGetIn" />
      <wsdl:output message="tns:getExistProfileHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateProfile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">1.2 建立门诊档案</wsdl:documentation>
      <wsdl:input message="tns:CreateProfileHttpGetIn" />
      <wsdl:output message="tns:CreateProfileHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeptInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">2.1 科室信息</wsdl:documentation>
      <wsdl:input message="tns:DeptInfoHttpGetIn" />
      <wsdl:output message="tns:DeptInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DocInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">2.2 医生信息</wsdl:documentation>
      <wsdl:input message="tns:DocInfoHttpGetIn" />
      <wsdl:output message="tns:DocInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getPatientNO">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">2.3 通过实物就诊卡查询患者在医院的门诊患者编号</wsdl:documentation>
      <wsdl:input message="tns:getPatientNOHttpGetIn" />
      <wsdl:output message="tns:getPatientNOHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getInpatientNo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">2.4 通过身份证查询患者当前在院的住院编号</wsdl:documentation>
      <wsdl:input message="tns:getInpatientNoHttpGetIn" />
      <wsdl:output message="tns:getInpatientNoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSchemaInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">3.1 排班信息</wsdl:documentation>
      <wsdl:input message="tns:GetSchemaInfoHttpGetIn" />
      <wsdl:output message="tns:GetSchemaInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="insertBooking">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">3.2 预约挂号、预约取消</wsdl:documentation>
      <wsdl:input message="tns:insertBookingHttpGetIn" />
      <wsdl:output message="tns:insertBookingHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="insertRegisterInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">3.3 挂号、预约转挂号</wsdl:documentation>
      <wsdl:input message="tns:insertRegisterInfoHttpGetIn" />
      <wsdl:output message="tns:insertRegisterInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getClinicState">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">3.4 查询挂号状态</wsdl:documentation>
      <wsdl:input message="tns:getClinicStateHttpGetIn" />
      <wsdl:output message="tns:getClinicStateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getQueueForDept">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">4.1科室排队查询</wsdl:documentation>
      <wsdl:input message="tns:getQueueForDeptHttpGetIn" />
      <wsdl:output message="tns:getQueueForDeptHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getQueueForPatient">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">4.2患者排队查询</wsdl:documentation>
      <wsdl:input message="tns:getQueueForPatientHttpGetIn" />
      <wsdl:output message="tns:getQueueForPatientHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getUnpaidClinicInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">5.1 获取有未缴费处方的门诊记录</wsdl:documentation>
      <wsdl:input message="tns:getUnpaidClinicInfoHttpGetIn" />
      <wsdl:output message="tns:getUnpaidClinicInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getPrescriptionInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">5.2 获取处方信息</wsdl:documentation>
      <wsdl:input message="tns:getPrescriptionInfoHttpGetIn" />
      <wsdl:output message="tns:getPrescriptionInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="saveFee">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">5.3 门诊结算确认</wsdl:documentation>
      <wsdl:input message="tns:saveFeeHttpGetIn" />
      <wsdl:output message="tns:saveFeeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getFeeDetailByfinanceNo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">5.4 根据发票号或者收据号获取收费明细</wsdl:documentation>
      <wsdl:input message="tns:getFeeDetailByfinanceNoHttpGetIn" />
      <wsdl:output message="tns:getFeeDetailByfinanceNoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getHospitalizationExpenses">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">6.1 住院费余额查询</wsdl:documentation>
      <wsdl:input message="tns:getHospitalizationExpensesHttpGetIn" />
      <wsdl:output message="tns:getHospitalizationExpensesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="hospitalizationExpensesRecharge">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">6.2 住院押金费充值确认</wsdl:documentation>
      <wsdl:input message="tns:hospitalizationExpensesRechargeHttpGetIn" />
      <wsdl:output message="tns:hospitalizationExpensesRechargeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="inhosBill">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">7.1 住院日清单、出院清单</wsdl:documentation>
      <wsdl:input message="tns:inhosBillHttpGetIn" />
      <wsdl:output message="tns:inhosBillHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryPriceBoardInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">8.1 价格公示</wsdl:documentation>
      <wsdl:input message="tns:QueryPriceBoardInfoHttpGetIn" />
      <wsdl:output message="tns:QueryPriceBoardInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getLisResultInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">9.1 检验主表</wsdl:documentation>
      <wsdl:input message="tns:getLisResultInfoHttpGetIn" />
      <wsdl:output message="tns:getLisResultInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getLisResultDetilInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">9.2 检验明细</wsdl:documentation>
      <wsdl:input message="tns:getLisResultDetilInfoHttpGetIn" />
      <wsdl:output message="tns:getLisResultDetilInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getClinicRecordsInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">10.1 查询历次门诊就诊记录</wsdl:documentation>
      <wsdl:input message="tns:getClinicRecordsInfoHttpGetIn" />
      <wsdl:output message="tns:getClinicRecordsInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">10.2 门诊用药记录</wsdl:documentation>
      <wsdl:input message="tns:GetOrderInfoHttpGetIn" />
      <wsdl:output message="tns:GetOrderInfoHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebserviceHttpPost">
    <wsdl:operation name="getRegCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取本机注册码序号</wsdl:documentation>
      <wsdl:input message="tns:getRegCodeHttpPostIn" />
      <wsdl:output message="tns:getRegCodeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Getsysdate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取服务器时间</wsdl:documentation>
      <wsdl:input message="tns:GetsysdateHttpPostIn" />
      <wsdl:output message="tns:GetsysdateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="querySchedule">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">2.1获取医生排班</wsdl:documentation>
      <wsdl:input message="tns:queryScheduleHttpPostIn" />
      <wsdl:output message="tns:queryScheduleHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getExistProfile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">1.1 身份证关联的所有档案</wsdl:documentation>
      <wsdl:input message="tns:getExistProfileHttpPostIn" />
      <wsdl:output message="tns:getExistProfileHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateProfile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">1.2 建立门诊档案</wsdl:documentation>
      <wsdl:input message="tns:CreateProfileHttpPostIn" />
      <wsdl:output message="tns:CreateProfileHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeptInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">2.1 科室信息</wsdl:documentation>
      <wsdl:input message="tns:DeptInfoHttpPostIn" />
      <wsdl:output message="tns:DeptInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DocInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">2.2 医生信息</wsdl:documentation>
      <wsdl:input message="tns:DocInfoHttpPostIn" />
      <wsdl:output message="tns:DocInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getPatientNO">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">2.3 通过实物就诊卡查询患者在医院的门诊患者编号</wsdl:documentation>
      <wsdl:input message="tns:getPatientNOHttpPostIn" />
      <wsdl:output message="tns:getPatientNOHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getInpatientNo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">2.4 通过身份证查询患者当前在院的住院编号</wsdl:documentation>
      <wsdl:input message="tns:getInpatientNoHttpPostIn" />
      <wsdl:output message="tns:getInpatientNoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSchemaInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">3.1 排班信息</wsdl:documentation>
      <wsdl:input message="tns:GetSchemaInfoHttpPostIn" />
      <wsdl:output message="tns:GetSchemaInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="insertBooking">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">3.2 预约挂号、预约取消</wsdl:documentation>
      <wsdl:input message="tns:insertBookingHttpPostIn" />
      <wsdl:output message="tns:insertBookingHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="insertRegisterInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">3.3 挂号、预约转挂号</wsdl:documentation>
      <wsdl:input message="tns:insertRegisterInfoHttpPostIn" />
      <wsdl:output message="tns:insertRegisterInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getClinicState">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">3.4 查询挂号状态</wsdl:documentation>
      <wsdl:input message="tns:getClinicStateHttpPostIn" />
      <wsdl:output message="tns:getClinicStateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getQueueForDept">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">4.1科室排队查询</wsdl:documentation>
      <wsdl:input message="tns:getQueueForDeptHttpPostIn" />
      <wsdl:output message="tns:getQueueForDeptHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getQueueForPatient">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">4.2患者排队查询</wsdl:documentation>
      <wsdl:input message="tns:getQueueForPatientHttpPostIn" />
      <wsdl:output message="tns:getQueueForPatientHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getUnpaidClinicInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">5.1 获取有未缴费处方的门诊记录</wsdl:documentation>
      <wsdl:input message="tns:getUnpaidClinicInfoHttpPostIn" />
      <wsdl:output message="tns:getUnpaidClinicInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getPrescriptionInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">5.2 获取处方信息</wsdl:documentation>
      <wsdl:input message="tns:getPrescriptionInfoHttpPostIn" />
      <wsdl:output message="tns:getPrescriptionInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="saveFee">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">5.3 门诊结算确认</wsdl:documentation>
      <wsdl:input message="tns:saveFeeHttpPostIn" />
      <wsdl:output message="tns:saveFeeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getFeeDetailByfinanceNo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">5.4 根据发票号或者收据号获取收费明细</wsdl:documentation>
      <wsdl:input message="tns:getFeeDetailByfinanceNoHttpPostIn" />
      <wsdl:output message="tns:getFeeDetailByfinanceNoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getHospitalizationExpenses">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">6.1 住院费余额查询</wsdl:documentation>
      <wsdl:input message="tns:getHospitalizationExpensesHttpPostIn" />
      <wsdl:output message="tns:getHospitalizationExpensesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="hospitalizationExpensesRecharge">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">6.2 住院押金费充值确认</wsdl:documentation>
      <wsdl:input message="tns:hospitalizationExpensesRechargeHttpPostIn" />
      <wsdl:output message="tns:hospitalizationExpensesRechargeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="inhosBill">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">7.1 住院日清单、出院清单</wsdl:documentation>
      <wsdl:input message="tns:inhosBillHttpPostIn" />
      <wsdl:output message="tns:inhosBillHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryPriceBoardInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">8.1 价格公示</wsdl:documentation>
      <wsdl:input message="tns:QueryPriceBoardInfoHttpPostIn" />
      <wsdl:output message="tns:QueryPriceBoardInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getLisResultInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">9.1 检验主表</wsdl:documentation>
      <wsdl:input message="tns:getLisResultInfoHttpPostIn" />
      <wsdl:output message="tns:getLisResultInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getLisResultDetilInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">9.2 检验明细</wsdl:documentation>
      <wsdl:input message="tns:getLisResultDetilInfoHttpPostIn" />
      <wsdl:output message="tns:getLisResultDetilInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getClinicRecordsInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">10.1 查询历次门诊就诊记录</wsdl:documentation>
      <wsdl:input message="tns:getClinicRecordsInfoHttpPostIn" />
      <wsdl:output message="tns:getClinicRecordsInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">10.2 门诊用药记录</wsdl:documentation>
      <wsdl:input message="tns:GetOrderInfoHttpPostIn" />
      <wsdl:output message="tns:GetOrderInfoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebserviceSoap" type="tns:WebserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getRegCode">
      <soap:operation soapAction="http://tempuri.org/getRegCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getsysdate">
      <soap:operation soapAction="http://tempuri.org/Getsysdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="querySchedule">
      <soap:operation soapAction="http://tempuri.org/querySchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExistProfile">
      <soap:operation soapAction="http://tempuri.org/getExistProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProfile">
      <soap:operation soapAction="http://tempuri.org/CreateProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeptInfo">
      <soap:operation soapAction="http://tempuri.org/DeptInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocInfo">
      <soap:operation soapAction="http://tempuri.org/DocInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPatientNO">
      <soap:operation soapAction="http://tempuri.org/getPatientNO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInpatientNo">
      <soap:operation soapAction="http://tempuri.org/getInpatientNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchemaInfo">
      <soap:operation soapAction="http://tempuri.org/GetSchemaInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertBooking">
      <soap:operation soapAction="http://tempuri.org/insertBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertRegisterInfo">
      <soap:operation soapAction="http://tempuri.org/insertRegisterInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClinicState">
      <soap:operation soapAction="http://tempuri.org/getClinicState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQueueForDept">
      <soap:operation soapAction="http://tempuri.org/getQueueForDept" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQueueForPatient">
      <soap:operation soapAction="http://tempuri.org/getQueueForPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUnpaidClinicInfo">
      <soap:operation soapAction="http://tempuri.org/getUnpaidClinicInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrescriptionInfo">
      <soap:operation soapAction="http://tempuri.org/getPrescriptionInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveFee">
      <soap:operation soapAction="http://tempuri.org/saveFee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFeeDetailByfinanceNo">
      <soap:operation soapAction="http://tempuri.org/getFeeDetailByfinanceNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHospitalizationExpenses">
      <soap:operation soapAction="http://tempuri.org/getHospitalizationExpenses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hospitalizationExpensesRecharge">
      <soap:operation soapAction="http://tempuri.org/hospitalizationExpensesRecharge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inhosBill">
      <soap:operation soapAction="http://tempuri.org/inhosBill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryPriceBoardInfo">
      <soap:operation soapAction="http://tempuri.org/QueryPriceBoardInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLisResultInfo">
      <soap:operation soapAction="http://tempuri.org/getLisResultInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLisResultDetilInfo">
      <soap:operation soapAction="http://tempuri.org/getLisResultDetilInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClinicRecordsInfo">
      <soap:operation soapAction="http://tempuri.org/getClinicRecordsInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderInfo">
      <soap:operation soapAction="http://tempuri.org/GetOrderInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebserviceSoap12" type="tns:WebserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getRegCode">
      <soap12:operation soapAction="http://tempuri.org/getRegCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getsysdate">
      <soap12:operation soapAction="http://tempuri.org/Getsysdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="querySchedule">
      <soap12:operation soapAction="http://tempuri.org/querySchedule" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExistProfile">
      <soap12:operation soapAction="http://tempuri.org/getExistProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProfile">
      <soap12:operation soapAction="http://tempuri.org/CreateProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeptInfo">
      <soap12:operation soapAction="http://tempuri.org/DeptInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocInfo">
      <soap12:operation soapAction="http://tempuri.org/DocInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPatientNO">
      <soap12:operation soapAction="http://tempuri.org/getPatientNO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInpatientNo">
      <soap12:operation soapAction="http://tempuri.org/getInpatientNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchemaInfo">
      <soap12:operation soapAction="http://tempuri.org/GetSchemaInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertBooking">
      <soap12:operation soapAction="http://tempuri.org/insertBooking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertRegisterInfo">
      <soap12:operation soapAction="http://tempuri.org/insertRegisterInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClinicState">
      <soap12:operation soapAction="http://tempuri.org/getClinicState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQueueForDept">
      <soap12:operation soapAction="http://tempuri.org/getQueueForDept" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQueueForPatient">
      <soap12:operation soapAction="http://tempuri.org/getQueueForPatient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUnpaidClinicInfo">
      <soap12:operation soapAction="http://tempuri.org/getUnpaidClinicInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrescriptionInfo">
      <soap12:operation soapAction="http://tempuri.org/getPrescriptionInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveFee">
      <soap12:operation soapAction="http://tempuri.org/saveFee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFeeDetailByfinanceNo">
      <soap12:operation soapAction="http://tempuri.org/getFeeDetailByfinanceNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHospitalizationExpenses">
      <soap12:operation soapAction="http://tempuri.org/getHospitalizationExpenses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hospitalizationExpensesRecharge">
      <soap12:operation soapAction="http://tempuri.org/hospitalizationExpensesRecharge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inhosBill">
      <soap12:operation soapAction="http://tempuri.org/inhosBill" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryPriceBoardInfo">
      <soap12:operation soapAction="http://tempuri.org/QueryPriceBoardInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLisResultInfo">
      <soap12:operation soapAction="http://tempuri.org/getLisResultInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLisResultDetilInfo">
      <soap12:operation soapAction="http://tempuri.org/getLisResultDetilInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClinicRecordsInfo">
      <soap12:operation soapAction="http://tempuri.org/getClinicRecordsInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderInfo">
      <soap12:operation soapAction="http://tempuri.org/GetOrderInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebserviceHttpGet" type="tns:WebserviceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="getRegCode">
      <http:operation location="/getRegCode" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getsysdate">
      <http:operation location="/Getsysdate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="querySchedule">
      <http:operation location="/querySchedule" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExistProfile">
      <http:operation location="/getExistProfile" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProfile">
      <http:operation location="/CreateProfile" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeptInfo">
      <http:operation location="/DeptInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocInfo">
      <http:operation location="/DocInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPatientNO">
      <http:operation location="/getPatientNO" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInpatientNo">
      <http:operation location="/getInpatientNo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchemaInfo">
      <http:operation location="/GetSchemaInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertBooking">
      <http:operation location="/insertBooking" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertRegisterInfo">
      <http:operation location="/insertRegisterInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClinicState">
      <http:operation location="/getClinicState" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQueueForDept">
      <http:operation location="/getQueueForDept" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQueueForPatient">
      <http:operation location="/getQueueForPatient" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUnpaidClinicInfo">
      <http:operation location="/getUnpaidClinicInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrescriptionInfo">
      <http:operation location="/getPrescriptionInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveFee">
      <http:operation location="/saveFee" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFeeDetailByfinanceNo">
      <http:operation location="/getFeeDetailByfinanceNo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHospitalizationExpenses">
      <http:operation location="/getHospitalizationExpenses" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hospitalizationExpensesRecharge">
      <http:operation location="/hospitalizationExpensesRecharge" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inhosBill">
      <http:operation location="/inhosBill" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryPriceBoardInfo">
      <http:operation location="/QueryPriceBoardInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLisResultInfo">
      <http:operation location="/getLisResultInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLisResultDetilInfo">
      <http:operation location="/getLisResultDetilInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClinicRecordsInfo">
      <http:operation location="/getClinicRecordsInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderInfo">
      <http:operation location="/GetOrderInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebserviceHttpPost" type="tns:WebserviceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="getRegCode">
      <http:operation location="/getRegCode" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getsysdate">
      <http:operation location="/Getsysdate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="querySchedule">
      <http:operation location="/querySchedule" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExistProfile">
      <http:operation location="/getExistProfile" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProfile">
      <http:operation location="/CreateProfile" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeptInfo">
      <http:operation location="/DeptInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocInfo">
      <http:operation location="/DocInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPatientNO">
      <http:operation location="/getPatientNO" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInpatientNo">
      <http:operation location="/getInpatientNo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchemaInfo">
      <http:operation location="/GetSchemaInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertBooking">
      <http:operation location="/insertBooking" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertRegisterInfo">
      <http:operation location="/insertRegisterInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClinicState">
      <http:operation location="/getClinicState" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQueueForDept">
      <http:operation location="/getQueueForDept" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQueueForPatient">
      <http:operation location="/getQueueForPatient" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUnpaidClinicInfo">
      <http:operation location="/getUnpaidClinicInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrescriptionInfo">
      <http:operation location="/getPrescriptionInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveFee">
      <http:operation location="/saveFee" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFeeDetailByfinanceNo">
      <http:operation location="/getFeeDetailByfinanceNo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHospitalizationExpenses">
      <http:operation location="/getHospitalizationExpenses" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hospitalizationExpensesRecharge">
      <http:operation location="/hospitalizationExpensesRecharge" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inhosBill">
      <http:operation location="/inhosBill" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryPriceBoardInfo">
      <http:operation location="/QueryPriceBoardInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLisResultInfo">
      <http:operation location="/getLisResultInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLisResultDetilInfo">
      <http:operation location="/getLisResultDetilInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClinicRecordsInfo">
      <http:operation location="/getClinicRecordsInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderInfo">
      <http:operation location="/GetOrderInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Webservice">
    <wsdl:port name="WebserviceSoap" binding="tns:WebserviceSoap">
      <soap:address location="http://192.168.21.77:9090/Webservice.asmx" />
    </wsdl:port>
    <wsdl:port name="WebserviceSoap12" binding="tns:WebserviceSoap12">
      <soap12:address location="http://192.168.21.77:9090/Webservice.asmx" />
    </wsdl:port>
    <wsdl:port name="WebserviceHttpGet" binding="tns:WebserviceHttpGet">
      <http:address location="http://192.168.21.77:9090/Webservice.asmx" />
    </wsdl:port>
    <wsdl:port name="WebserviceHttpPost" binding="tns:WebserviceHttpPost">
      <http:address location="http://192.168.21.77:9090/Webservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>