client/src/main/resources/xml/createProfileRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Request" type="Request"/>
  <xs:complexType name="Request">
    <xs:sequence>
      <xs:element type="xs:string" name="Name"/>
      <xs:element type="xs:string" name="Age"/>
      <xs:element type="xs:string" name="dateBirth"/>
      <xs:element type="xs:string" name="familyName"/>
      <xs:element type="xs:string" name="homeAddress"/>
      <xs:element type="xs:string" name="phoneNO"/>
      <xs:element type="xs:string" name="ICNO"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>