client/src/main/resources/xml/getInHosPatientInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="queryinhospatient" type="queryinhospatient"/>
  <xs:complexType name="item">
    <xs:sequence>
      <xs:element type="xs:string" name="inpatient_code"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="inhos_patient_serial"/>
      <xs:element type="xs:string" name="diagnose_code"/>
      <xs:element type="xs:string" name="diagnose_name"/>
      <xs:element type="xs:string" name="state"/>
      <xs:element type="xs:string" name="dept_code"/>
      <xs:element type="xs:string" name="dept_name"/>
      <xs:element type="xs:string" name="ward_code"/>
      <xs:element type="xs:string" name="ward_name"/>
      <xs:element type="xs:string" name="bed_no"/>
      <xs:element type="xs:string" name="inhos_time"/>
      <xs:element type="xs:string" name="outhos_time"/>
      <xs:element type="xs:string" name="total_fee"/>
      <xs:element type="xs:string" name="balance"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Data">
    <xs:sequence>
      <xs:element type="item" name="item"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryinhospatient">
    <xs:sequence>
      <xs:element type="result" name="result"/>
      <xs:element type="Data" name="Data"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="result">
    <xs:sequence>
      <xs:element type="xs:string" name="returnCode"/>
      <xs:element type="xs:string" name="returnDesc"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>