client/src/main/resources/xml/getInpatientResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Response" type="ResponseType"/>
  <xs:complexType name="GetInpatientResponseHis">
    <xs:sequence>
      <xs:element type="xs:string" name="returnCode"/>
      <xs:element type="xs:string" name="returnDesc"/>
      <xs:element type="xs:string" name="inpatientNo"/>
      <xs:element type="xs:string" name="inpatientSeq"/>
      <xs:element type="xs:string" name="deptCode"/>
      <xs:element type="xs:string" name="deptName"/>
      <xs:element type="xs:string" name="inhosTime"/>
      <xs:element type="xs:string" name="inbalance"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>