client/src/main/resources/xml/inbalanceListResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Response" type="ResponseType"/>
  <xs:complexType name="datasType">
    <xs:sequence>
      <xs:element type="dataType" name="data" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dataType">
    <xs:sequence>
      <xs:element name="date">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="20171201"/>
            <xs:enumeration value="20171130"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="itemClass">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="床位费"/>
            <xs:enumeration value="护理费"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="itemName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="监护病房床位费A"/>
            <xs:enumeration value="二级护理"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="itemCode">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="110900003-A"/>
            <xs:enumeration value="120100004"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="specifications"/>
      <xs:element type="xs:string" name="number"/>
      <xs:element name="unitPrice">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="80"/>
            <xs:enumeration value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="totCost">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="80"/>
            <xs:enumeration value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InbalanceListResponseHis">
    <xs:sequence>
      <xs:element type="xs:string" name="returnCode"/>
      <xs:element type="xs:string" name="returnDesc"/>
      <xs:element type="datasType" name="datas"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>