src/main/java/com/chinacaring/hmsrmyy/dto/his/request/prescription/prescriptionRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Request" type="RequestType"/>
  <xs:complexType name="PrescriptionRequestHis">
    <xs:sequence>
      <xs:element type="xs:string" name="regNO"/>
      <xs:element type="xs:string" name="isFee"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>