client/src/main/java/com/chinacaring/peixian/patient/client/wsdl/reponse/save_fee/SaveFee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SaveFeeSoap" type="SaveFeeSoap"/>
  <xs:complexType name="SaveFeeSoap">
    <xs:sequence>
      <xs:element type="xs:string" name="INVOICENO" minOccurs="0"/>
      <xs:element type="xs:string" name="WINDOWNAME" minOccurs="0"/>
      <xs:element type="result" name="result" minOccurs="0"/>
      <xs:element type="Data" name="Data" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Data">
    <xs:sequence>
      <xs:element type="SaveFeeSoap" name="SaveFeeSoap"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="result">
    <xs:sequence>
      <xs:element type="xs:string" name="returnCode"/>
      <xs:element type="xs:string" name="returnDesc"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>