src/main/java/com/chinacaring/hmsrmyy/dto/his/response/outpatientConfirm/outpatientConfirmResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Response" type="ResponseType"/>
  <xs:complexType name="OutpatientConfirmResponseHis">
    <xs:sequence>
      <xs:element type="xs:string" name="returnCode"/>
      <xs:element type="xs:string" name="returnDesc"/>
      <xs:element type="xs:string" name="invoiceNo"/>
      <xs:element type="xs:string" name="receiptNo"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>