client/src/main/java/com/chinacaring/peixian/patient/client/wsdl/reponse/get_queue_by_dept/getQueueByDept.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="response" type="response"/>
  <xs:complexType name="item">
    <xs:sequence>
      <xs:element type="xs:string" name="dept_code"/>
      <xs:element type="xs:string" name="dept_name"/>
      <xs:element name="show_no">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="103"/>
            <xs:enumeration value=""/>
            <xs:enumeration value="124"/>
            <xs:enumeration value="27"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="next_no"/>
      <xs:element type="xs:string" name="wait_num"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="response">
    <xs:sequence>
      <xs:element type="xs:string" name="code"/>
      <xs:element type="xs:string" name="message"/>
      <xs:element type="data" name="data"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="data">
    <xs:sequence>
      <xs:element type="item" name="item" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>