client/src/main/java/com/chinacaring/peixian/patient/client/wsdl/reponse/query_invoiceinfo/﻿QueryInvoiceInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="QueryInvoiceInfoSoap" type="QueryInvoiceInfoSoap"/>
  <xs:complexType name="DIAGNOSIS_CODE">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="xml:space"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="QueryInvoiceInfo">
    <xs:sequence>
      <xs:element type="xs:string" name="PATIENT_ID"/>
      <xs:element type="xs:string" name="PATIENT_NAME"/>
      <xs:element type="xs:string" name="RECEIPT_NO"/>
      <xs:element name="PAY_DATE">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="2017-12-08T05:45:17+08:00"/>
            <xs:enumeration value="2017-12-08T05:45:46+08:00"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="ACCOUNT_FLAG"/>
      <xs:element name="ACCOUNT_SUM1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="162.83"/>
            <xs:enumeration value="6.50"/>
            <xs:enumeration value="54"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ORDER_NO">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="000180569408"/>
            <xs:enumeration value="000180569409"/>
            <xs:enumeration value="000180569410"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="PAY_CHANNEL"/>
      <xs:element type="xs:string" name="INVOICE_TYPE"/>
      <xs:element type="xs:string" name="VISIT_DATE"/>
      <xs:element type="xs:string" name="VISIT_NO"/>
      <xs:element type="xs:string" name="CARD_NO"/>
      <xs:element type="xs:string" name="INSUR_TYPE"/>
      <xs:element type="xs:string" name="INSUR_PAY"/>
      <xs:element type="xs:string" name="ACCOUNT_PAY"/>
      <xs:element name="MYSELF_PAY">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="162.83"/>
            <xs:enumeration value="6.50"/>
            <xs:enumeration value="54"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="INSUR_SELF_PAY">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="162.83"/>
            <xs:enumeration value="6.50"/>
            <xs:enumeration value="54"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="CLASS_SELF_PAY"/>
      <xs:element type="xs:string" name="OTHER_APY"/>
      <xs:element type="DIAGNOSIS_CODE" name="DIAGNOSIS_CODE"/>
      <xs:element type="xs:string" name="DIAGNOSIS_NAME"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Data">
    <xs:sequence>
      <xs:element type="QueryInvoiceInfo" name="QueryInvoiceInfo" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="result">
    <xs:sequence>
      <xs:element type="xs:string" name="returnCode"/>
      <xs:element type="xs:string" name="returnDesc"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryInvoiceInfoSoap">
    <xs:sequence>
      <xs:element type="result" name="result"/>
      <xs:element type="Data" name="Data"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>