src/main/java/com/chinacaring/hmsrmyy/dto/his/request/clinicRecords/getClinicRecordsInfoRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Request" type="RequestType"/>
  <xs:complexType name="ClinicRecordsRequestHis">
    <xs:sequence>
      <xs:element type="xs:string" name="patientNO"/>
      <xs:element type="xs:string" name="beginTime"/>
      <xs:element type="xs:string" name="endTime"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>