client/src/main/java/com/chinacaring/peixian/patient/client/wsdl/reponse/in_hos_patient_inbalance_recharge/inHosPatientInbalanceRecharge.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="response" type="response"/>
  <xs:complexType name="response">
    <xs:sequence>
      <xs:element type="xs:string" name="code"/>
      <xs:element type="xs:string" name="message"/>
      <xs:element type="data" name="data"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="data">
    <xs:sequence>
      <xs:element type="xs:string" name="receipt_num"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>