client/src/main/resources/wsdl/InsertBooking.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InsertBookingSoap" type="InsertBookingSoap"/>
  <xs:complexType name="Data">
    <xs:sequence>
      <xs:element type="InsertBooking" name="InsertBooking"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="result">
    <xs:sequence>
      <xs:element type="xs:string" name="returnCode"/>
      <xs:element type="xs:string" name="returnDesc"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertBookingSoap">
    <xs:sequence>
      <xs:element type="result" name="result"/>
      <xs:element type="Data" name="Data"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertBooking">
    <xs:sequence>
      <xs:element type="xs:string" name="BOOKINGNO"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>