client/src/main/resources/wsdl/PatientCardNo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetPatientCardNo1Soap" type="GetPatientCardNo1Soap"/>
  <xs:complexType name="GetPatientCardNo1Soap">
    <xs:sequence>
      <xs:element type="result" name="result"/>
      <xs:element type="Data" name="Data"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Data">
    <xs:sequence>
      <xs:element type="PatientCardNo1" name="PatientCardNo1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PatientCardNo1">
    <xs:sequence>
      <xs:element type="xs:string" name="CARD_NO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="result">
    <xs:sequence>
      <xs:element type="xs:string" name="returnCode"/>
      <xs:element type="xs:string" name="returnDesc"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>