client/src/main/resources/wsdl/QueryPrescriptionMedicione.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="QueryPrescriptionMedicioneSoap" type="QueryPrescriptionMedicioneSoap"/>
  <xs:complexType name="QueryPrescriptionMedicioneSoap">
    <xs:sequence>
      <xs:element type="result" name="result"/>
      <xs:element type="Data" name="Data"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryPrescriptionMedicione">
    <xs:sequence>
      <xs:element type="xs:string" name="PRESCRIPTION_NO"/>
      <xs:element type="xs:string" name="ITEM_NO"/>
      <xs:element type="xs:string" name="DRUG_CODE"/>
      <xs:element type="xs:string" name="DRUG_SPEC"/>
      <xs:element type="xs:string" name="DRUG_NAME"/>
      <xs:element type="xs:string" name="PACKAGE_SPEC"/>
      <xs:element type="xs:string" name="QUANTITY"/>
      <xs:element type="xs:string" name="PACKAGE_UNITS"/>
      <xs:element type="xs:string" name="DOSAGE"/>
      <xs:element type="xs:string" name="DOSAGE_UNITS"/>
      <xs:element type="xs:string" name="FREQUENCY"/>
      <xs:element type="xs:string" name="DURATION"/>
      <xs:element type="xs:string" name="DURATION_UNITS"/>
      <xs:element type="xs:string" name="PRICE"/>
      <xs:element type="xs:string" name="TOTAL_PRICE"/>
      <xs:element type="xs:string" name="PAYMENTS"/>
      <xs:element type="xs:string" name="PRESCRIPTION_TYPE"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Data">
    <xs:sequence>
      <xs:element type="QueryPrescriptionMedicione" name="QueryPrescriptionMedicione" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="result">
    <xs:sequence>
      <xs:element type="xs:string" name="returnCode"/>
      <xs:element type="xs:string" name="returnDesc"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>