client/src/main/resources/wsdl/QueryInvoiceMxInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="QueryInvoiceMxInfoSoap" type="QueryInvoiceMxInfoSoap"/>
  <xs:complexType name="QueryInvoiceMxInfoSoap">
    <xs:sequence>
      <xs:element type="result" name="result"/>
      <xs:element type="Data" name="Data"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryInvoiceMxInfo">
    <xs:sequence>
      <xs:element type="xs:string" name="PATIENT_ID"/>
      <xs:element type="xs:string" name="PATIENT_NAME"/>
      <xs:element type="xs:string" name="RECEIPT_NO"/>
      <xs:element type="xs:string" name="PAY_DATE"/>
      <xs:element type="xs:string" name="M_FEIYONGID"/>
      <xs:element type="xs:string" name="VISIT_DATE"/>
      <xs:element type="xs:string" name="VISIT_NO"/>
      <xs:element type="xs:string" name="ITEM_NO"/>
      <xs:element type="xs:string" name="ITEM_CLASS"/>
      <xs:element type="xs:string" name="INSUR_CLASS"/>
      <xs:element type="xs:string" name="MYSELF_SCALE"/>
      <xs:element type="xs:string" name="ITEM_CODE"/>
      <xs:element type="xs:string" name="ITEM_NAME"/>
      <xs:element type="xs:string" name="ITEM_SPEC"/>
      <xs:element type="xs:string" name="ITEM_UNITS"/>
      <xs:element type="xs:string" name="ITEM_AMOUNT"/>
      <xs:element type="xs:string" name="ITEM_PRICE"/>
      <xs:element type="xs:string" name="ITEM_COSTS"/>
      <xs:element type="xs:string" name="DOCTOR_NAME"/>
      <xs:element type="xs:string" name="PERFORM_DEPT"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Data">
    <xs:sequence>
      <xs:element type="QueryInvoiceMxInfo" name="QueryInvoiceMxInfo" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="result">
    <xs:sequence>
      <xs:element type="xs:string" name="returnCode"/>
      <xs:element type="xs:string" name="returnDesc"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>