src/main/resources/xml/examineDetailRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Request" type="RequestType"/>
  <xs:complexType name="RequestType">
    <xs:sequence>
      <xs:element type="xs:string" name="reportNO"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>