src/main/resources/xml/outpatientConfirmRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Request" type="RequestType"/>
  <xs:complexType name="RequestType">
    <xs:sequence>
      <xs:element type="xs:string" name="regNO"/>
      <xs:element type="xs:string" name="reciptNO"/>
      <xs:element type="xs:string" name="operCode"/>
      <xs:element type="xs:string" name="payMode"/>
      <xs:element type="xs:string" name="amountOfMoney"/>
      <xs:element type="xs:string" name="transNo"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>